@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");

.bottom-card-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Bree Serif";
  font-weight: 500;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-container {
  padding: 100px;
}
.bottom-container {
  padding-top: 50px;
}

.bottom-button {
  border-radius: 50px;
  background-color: #8e97fd;
  font-weight: 500;
}

#sectionhomepage {
  background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.top-heading {
  color: white;
  font-family: "Bree Serif";
}
.bottom-para {
  color: white;
  font-family: "Bree Serif";
}
#sectiondetailspage {
  background-color: #03174c;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.top-card-heading {
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}
.top-card-para {
  color: white;
  padding-left: 20px;
}
.bottom-card-heading {
  color: white;
}
.bottom-card-text1 {
  color: white;
}
.bottom-card-text2 {
  color: white;
}

.details2 {
  padding-left: 20px;
}
.bottom-card-image2 {
  padding-left: 20px;
}
.bottom-card-text2 {
  padding-left: 20px;
}
p {
  color: #98a1bd;
}
