.bg-container {
  background-color: #f1f5f8;
  color: #2d3a35;
  height: 100vh;
  padding: 3px;
  font-family: Roboto;
}

span {
  color: #c20a72;
}
button {
  border-radius: 5px;
  padding: 8px 10px;
  border: none;
  background-color: #0078fa;
  border-color: #3595fc;
  color: white;
}
h1 {
  font-weight: 800;
  font-size: 42px;
}
