@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");
.product-image-1 {
  background-image: url("https://exstatic-in.vivo.com/Oz84QB3Wo0uns8j1/in/1696315743501/21b9b1e5bac2cada8727017b289729f8.png.webp");
  background-color: white;
  background-size: cover;
  height: 70vh;
  border-radius: 10px;
}
.product-image-2 {
  background-image: url("https://bajajdigital-cdn-endpoint.azureedge.net/product/8fbe129f-560e-4471-b01c-fb15c8944640");

  background-size: cover;
  height: 70vh;
  border-radius: 10px;
}
.bg-container {
  background-color: #e4e4e4;
}
.h1 {
  color: #282144;
}
li {
  color: #282144;
}
.modal-title {
  color: #2d2647;
  font-weight: bold;
  font-size: 26px;
  font-family: "roboto";
}
.modal-para {
  color: #282144;
  font-size: 30px;
}
#arrow {
  color: #ff9f00;
  font-weight: bold;
}
button {
  background-color: white;
  color: #ff9f00;
  border-color: white;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  font-weight: bold;
}
h1 {
  color: #183b56;
  font-weight: bold;
}
.modal-para {
  color: #323f4b;
  font-size: 13px;
}
.bg-container2 {
  background-color: #19232d;
}
.container2 {
  padding: 10px;
}
.icon-bg {
  background-color: #202b36;
  height: 55px;
  width: 55px;
  padding: 10px;

  margin: 6px;
  border-radius: 50%;
}
.icon {
  font-size: 24px;
  color: #5a7184;
  padding: 4px;
}
#address {
  font-size: 18px;
  color: #5a7184;
  margin-top: 16px;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.h2 {
  font-size: 22px;
  color: #5a7184;
  font-weight: bold;
}

p {
  margin-top: 16px;
  color: #5a7184;
  font-size: 20px;
}

hr {
  background-color: #5a7184;
}
.p1 {
  color: #959ead;
  font-size: 22px;
}
