@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");

.card1 {
  padding-left: 20px;
  background-color: #ffffff;
}

.card2 {
  background-color: #ffffff;
}

.heading1 {
  align-content: center;
  font-family: serif;
}
.heading2 {
  align-content: center;
  padding-left: 20px;
  padding-right: 50px;
}
.heading3 {
  align-content: center;
  padding-left: 20px;
  padding-right: 50px;
}
