@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");

.body {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.card {
  background-color: #f6c56e;
  height: 200px;
  width: 100vw;
  padding: 20px;
  font-family: Roboto;
  font-weight: 900;
  color: #323f4b;
  border: 2px solid #f6c56e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}
.heading {
  font-family: Bree Serif;
}
.button {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}
button {
  border: 2px solid white;
  background-color: white;
}
