p1{
    color: #910696;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color:#25008b;
    text-decoration-line: underline;
}


h3{
color:#006400;

}

div{
color:#8d0707;
background:#ebc58d;
border: 2px solid #056805;
}