@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.border-style {
  font-weight: bold;
  border-style: solid;
  padding-left: 12px;
  padding-right: 12px;
}
