img {
  height: 600px;
  width: 400px;
}

button {
  height: 32px;
  width: 80px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 5px;
}

#springButton {
  background-color: green;
}
#summerButton {
  background-color: yellow;
}
#autumnButton {
  background-color: red;
}
#winterButton {
  background-color: lightskyblue;
}
