@import url("https://fonts.googleapis.com/css2?family=Bree Serif&family=Roboto");
.heading {
  text-align: center;
}

.para {
  color: white;
  font-size: 20px;
  padding: 20px;
}
.text-arrange {
  text-align: center;
  font-size: 32px;
}
